POSTGRES_DB=vinculaup
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=jdbc:postgresql://postgres:5432/vinculaup
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
JPA_DDL_AUTO=update
KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/vincula-up
KEYCLOAK_HOSTNAME=localhost
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=vincula-up
KEYCLOAK_ADMIN_BASE_URL=http://keycloak:8080
KEYCLOAK_ADMIN_CLIENT_ID=vincula-up-admin
KEYCLOAK_ADMIN_CLIENT_SECRET=vincula-up-admin-secret
PGADMIN_DEFAULT_EMAIL=admin@vincula-up.local
PGADMIN_DEFAULT_PASSWORD=admin
